<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--全局的setting配置，按需要再加-->

    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias alias="User" type="com.springstudy.model.User"/>
        <!--批量扫描别名-->
        <package name="com.springstudy.dao.mapper"/>
    </typeAliases>


    <!-- 映射map -->
    <!--由于使用spring和mybatis的整合包进行mapper扫描，这里不需要配置；必须遵循：mapper.xml和mapper.java文件同名且在一个目录-->
    <mappers>
    </mappers>
</configuration>